<body>
  <h2 class="py-2 text-xl">Administrative action</h2>
  <a href="/sports/new" class="block underline">Create a new Sport</a>
  <a href="/reports" class="block underline">View Reorts</a>
</body>