<body>
  <h2 class="py-2 text-xl">Administrative action</h2>
  <a href="/sports/new" class="block underline text-blue-800">Create a new Sport</a>
  <a href="/reports/1" class="block underline text-blue-800 py-1 ">View Reorts</a>
</body>