<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/tailwind.css">
  <title>Document</title>
</head>

<body>
  <div class="grid grid-cols-6">
    <div class="col-start-3 col-span-2">
      <div class="text-lg pt-2">
        <a class="underline" href="/">Home</a>
        <span> > </span>
        <a>New Sport</a>
      </div>
      <h1 class="py-2 text-3xl">Create a New Sport</h1>
      <form action="/sport/new" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <div>
          <label for="sportName" class="block">What is this sport's name?</label>
          <input type="text" name="sportName" id="sportName"
            class="border border-gray-300 text-gray-900 rounded p-2 w-1/2 text-sm">
          <span class="block text-sm text-red-700">
            <% if(messages.error ) {%>
              <%= messages.error %>
                <% } %>
          </span>
        </div>
        <div class="py-3">
          <button type="submit"
            class="text-white bg-green-600 hover:bg-green-800 font-medium rounded px-5 py-2">Submit</button>
        </div>
      </form>
    </div>
  </div>
</body>

</html>