<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/tailwind.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <title>Document</title>
  <script>
    function onSelect() {
      let selector = document.getElementById('select-month');
      window.location = `/reports/${selector.value}`;
    }
  </script>
</head>

<body>
  <div class="grid grid-cols-6">
    <div class="col-start-3 col-span-2">
      <div class="text-lg pt-2">
        <a class="underline" href="/">Home</a>
        <span> > </span>
        <a>Reports</a>
      </div>
      <div>
        <h1 class="text-5xl py-2 text-gray-600 font-semibold">
          Reports
        </h1>
        <p class="py-2 text-xl">Here's a quick look at recent activity.</p>
        <div class="py-2">
          <select onchange="onSelect()" id="select-month">
            <option id="1" value="1">Last 1 month
            <option id="2" value="3">Last 3 month
            <option id="3" value="6">Last 6 month
          </select>
        </div>
        <div>
          <canvas id="reports"></canvas>
        </div>
      </div>
    </div>
  </div>
  <script>
    document.getElementById("select-month").value = <%= months %>;
    let reports = document.getElementById("reports").getContext('2d');
    let bar = new Chart(reports, {
      type: 'bar',
      data: {
        labels: '<%= sportsName %>'.split(','),
        datasets: [{
          label: 'No of sessions',
          data: [<%= sportsSessionCount %>]
        }]
      },
      options: {}
    })
  </script>
</body>

</html>