<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/tailwind.css">
  <title>Document</title>
</head>

<body>
  <div class="grid grid-cols-6">
    <div class="col-start-3 col-span-2">
      <h1 class="py-2 text-3xl text-gray-800">Welcome <%= user.firstName %>
      </h1>
      <a href="/signout">Signout</a>
      <div>
        <% if (user.role=="admin" ) { %>
          <%- include('admin.ejs') %>
            <% } %>
      </div>
      <% if (sports.length==0) {%>
        <p class="py-2 text-xl">No sports are available.</p>
        <% } else {%>
          <p class="py-2 text-xl">The following sports are available: </p>
          <ul>
            <% for (var i=0; i<sports.length; i++) {%>
              <li>
                <a href="sport/<%= sports[i].id %>" class="underline py-2 text-blue-800">
                  <%= sports[i].name %>
                </a>
              </li>
              <% } %>
          </ul>
          <% } %>
    </div>
  </div>
</body>

</html>