<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/tailwind.css">
  <title>Document</title>
</head>

<body>
  <div class="grid grid-cols-6">
    <div class="col-start-3 col-span-2">
      <div>
        <%- include('header.ejs') %>
      </div>
      <div>
        <h1>
          <%= sport.name %>
        </h1>
      </div>
      <div>
        <p>Sessions</p>
      </div>
      <div>
        <a href='/sport/<%=sport.id%>/new_session' class="block underline">Create a new Session</a>
        <a href="" class="block underline">View previous Session</a>
      </div>
    </div>
  </div>
</body>

</html>